<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>
    
    <appender name="STDOUT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>0</maxFlushTime>
        <appender-ref ref="STDOUT" />
    </appender>    
    
    <root level="INFO">
        <appender-ref ref="STDOUT-ASYNC" />
    </root>


    
</configuration>